<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Background</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <div class="container">

        <div class="title">
            <h1 class="pr-title">Remove background from image - Use of Flask</h1>
        </div>
        
        <div class="header-image">
            <img class="top-img" src="../static/images/rbg.png" alt="Image bg">
        </div>
        
        <div class="description">
            <h2 class="description-title">Steps to remove the background from an image:</h2>

            <div class="description">
                <ol class="description-list">
                    <li>Pick an image</li>
                    <li>Remove Background</li>
                    <li>Save the new image</li>
                </ol>
            </div>
        </div>
    </div>
</body>
</html>